<!--<link rel="stylesheet" href="/css/style.css">-->

<header>
    <img id=logo src="/img/pokedex.png" alt="logo pokedex">
    <nav>
        <ul>
            <a href="/"> <li>Home</li> </a>
            <a href="/cadastro"> <li>Cadastro</li> </a>
            
            
        </ul>
    </nav>
</header>