<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section id="formulario">
                <form method="post" action="/cadastro">
                    <legend>Cadastro</legend>
                    <fieldset id="field_main">




                        <fieldset>
                            <input type="text" name="nome">
                            <label for="nome">Nome</label>

                        </fieldset>
                        <fieldset>
                            <input type="text" name="tipo1">
                            <label for="tipo1">Tipo</label>

                        </fieldset>

                        <fieldset>
                            <input type="text" name="altura">
                            <label for="altura">Altura</label>

                        </fieldset>

                        <fieldset>
                            <input type="text" name="peso">
                            <label for="peso">Peso</label>

                        </fieldset>

                        <fieldset>
                            <input type="text" name="categoria">
                            <label for="categoria">Categoria</label>

                        </fieldset>

                        <fieldset>
                            <input type="text" name="habilidades">
                            <label for="habilidades">Habilidade</label>

                        </fieldset>

                        <fieldset>
                            <input type="text" name="genero">
                            <label for="genero">Gênero</label>

                        </fieldset>

                        <fieldset>
                            <input type="url" name="img">
                            <label for="img">Img</label>

                        </fieldset>

                    </fieldset>
                    <button type="submit">Enviar</button>



                </form>
            </section>

        </main>
        <%- include('./partials/footer.ejs') %>

</body>

</html>